/* Importing fonts */
/* Lobster font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* Quicksand font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        font-family: Quicksand;
    }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

section{
    width: 100vw;
    height: 100vh;
}

/* Corner border */
div.corner-border{
    display: inline-block;
    position: relative;
    border: 1px solid #111;
    border-radius: 0.125rem;
}

div.corner-border::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: #fff;
    transform: scaleY(1);
}

div.corner-border::after{
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: #fff;
    transform: scaleY(1);
}